<!DOCTYPE html>
<html>
<head>
<meta charset='UTF-8'>
	<title>Search Giphy</title>
</head>
<body>
<h1> Search Giphy </br> 
</h1>
<!-- <ul><label>View past searches</label>
<% Object.keys(searches).forEach(function(key){ %>
<li><a href="/search/<%=searches[key].id%>"><%-searches[key].name%></a></li>
<%})%> -->
<!-- </ul> -->

Or create a new search here:
<a href="/searches/new">Or create a new search here:</a>



</body>
</html>


