<!DOCTYPE html>
<body>
	<h1>New Giphy Search</h1>
	<form action="/pets" method="GET">
		<input type="text" name="name" placeholder="search" required>
		
		<button>Submit</button>
	</form>
</body>
</html>